* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
}

      /* NAVBAR */
.menu-container {
  color: #fff;
  background-color: #5995DA;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.menu {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem; 
}

      /* HEADER */
.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 80vw;
  height: 50vh; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 18.75rem;
  height: 18.75rem;
}

.first-item { order: 1; }
.last-item { order: -1; }

      /* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 12.5rem; 
  flex: 1;
}

footer-three {
  flex: 2;
}

.footer-two {
  color: #5995DA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 20vw; 
}

    /* RESPONSIVE DESIGN  */
@media (max-width: 1000px) {

  .menu,
  .header,
  .photo-grid {
    width: 100%;
    padding: 0 1rem; 
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .links {
    justify-content: center;
  }

  .header-container{
    height: 50vh;

  }

  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .photo-grid {
    align-items: center;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }

  .footer-one,
  .footer-three {
    width: 100%;
    height: 150px;
  }
}


   /* MOBILE  */
@media (max-width: 600px) {
  
  .header{
     width: 100vw;
     display: flex;
     justify-content: center;
  }

  .photo-grid-item {
    width: 90vw; 
    height: 220px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-two {
    font-size: 3rem; 
  }
}
